@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Manrope', sans-serif;
    background-color: #fef9f8;
}

.main-header {
    background-image: linear-gradient(rgba(3, 3, 3, 0.50), rgba(0, 0, 0, 0.80)), url(./img/badminton-cover.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100vw;
    height: 50vh;


}

.header-area {
    height: 50vh;
    max-width: 70vw;
    margin: 0 auto;

}

.header-area h1 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: 800;
    font-size: 50px;
}